

<div class="header">

</div>


    <div class="container">
        <form action="" [formGroup]="loginform" (ngSubmit)="proceedLogin()" class="form-box">
            <h2>User Login</h2><br>
            
            <div class="form-group">
              <label>Username: </label>
              <input required [(ngModel)]="username" type="text" ngModel class="form-control" formControlName="id"  id="id"
              class="form-control mb-3 mt3"/>
              <span *ngIf="username.invalid && username.touched" class="error"> Username is required</span> 
            </div>
            <br>
            <div class="form-group">
                <label>Password: </label>
                <input required [(ngModel)]="password" minlength="5" type="password" ngModel class="form-control" formControlName="password" id="password"
                class="form-control mb-3 mt3"/>
                <span *ngIf="password.invalid && password.touched" class="error"> Password is required</span> 
            </div>
            <br><br> 

            <label>
              Select Department:
              <select  formControlName="department"> 
                <option value="IT">Information Technology</option>
                <option value="HR">Human Resources</option>
                <option value="Finance">Finance</option>
                <option value="Marketing">Marketing</option>
                <option value="Sales">Sales</option>
              </select>
            </label>

           

            <br><br> 
                <button [disabled]="loginform.invalid" type ="submit" name="log" id="log">Login</button>
                <br><br>
                <span> Create a New Account <a routerLink="/register"> Sign Up here </a> </span>
              </form>
    </div>
  
      
  


