
<div class="toolbar" *ngIf="isMenuVisible" role="banner">
    <div class="logo">
      My App
   </div>
   
  <div class="nav"><a routerLink="">Home</a> </div>
  <div class="nav"><a *ngIf="isadmin" routerLink="/user">User</a></div>
  <div class="nav"><a routerLink="/customer">Customer</a></div>
  <div class="spacer"></div>

  <div class="nav"><span>{{userDisplayName}}</span> </div>
  <div class="nav"><span>{{userDepartment}}</span> </div>
  <div class="nav"><a routerLink="/login">Log Out</a></div>
  </div>

<div class="content" style="width: 100%;display: block;" role="main">
  <router-outlet></router-outlet>
</div>

